.fa-check-circle {
    color: greenyellow;
}

.fa-exclamation-circle {
    color: red;
}

.fab input[type="file"] {

    opacity: 0;

}
#fotoKlant{
    display: flex;
    justify-content: center;
}

.fotoContanier {
    display: flex;
    justify-content: center;
}
#trest{
  
}

#content {
    display: flex;
    justify-content: center;
}

.demo-popup-swipe-handler {
    --f7-popup-border-radius: 15px 15px 0 0;
    --f7-popup-tablet-border-radius: 15px;
    --f7-block-strong-border-color: transparent;
    height: calc(100% - var(--f7-navbar-height) - var(--f7-safe-area-top));
    top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top))
  }
  .demo-popup-swipe-handler .swipe-handler {
    background: var(--f7-page-bg-color);
  }
  .demo-popup-swipe-handler .page-content {
    padding-top: 16px;
  }

  
  .demo-sheet-swipe-to-close,
  .demo-sheet-swipe-to-step,.my-sheet-swipe-to-close1 {
    --f7-sheet-border-color: transparent;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
  }
  .demo-sheet-swipe-to-close .swipe-handler,
  .demo-sheet-swipe-to-step .swipe-handler, .my-sheet-swipe-to-close1 .swipe-handler{
    background: none;
  }
  .swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index: 10;
  }
  .swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666;
  }